:root {
	--worms-color-shadow: #dddddd;
	--worms-color-hover: #fafafa;
	--worms-color-border: #dddddd;
	--worms-color-success: #00ff00;
	--worms-color-fail: #ff0000;

	--worms-color-text-light: #aaaaaa;
	--worms-color-text: #000000;
	--worms-color-text-success: #00ff00;
	--worms-color-text-fail: #ff0000;
	--worms-color-text-invert: #ffffff;
}



/* Layouts */
.worms--layouts {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
.worms--layouts > div {
	row-gap: 1rem;
}
.worms--layouts > div {width: 100%;}
.worms--layouts.layout-1-1 > div {width: calc(50% - .5rem);}
.worms--layouts.layout-2-1 > div:nth-child(1) {width: calc(66.6666% - .5rem);}
.worms--layouts.layout-2-1 > div:nth-child(2) {width: calc(33.3333% - .5rem);}
.worms--layouts.layout-1-2 > div:nth-child(1) {width: calc(33.3333% - .5rem);}
.worms--layouts.layout-1-2 > div:nth-child(2) {width: calc(66.6666% - .5rem);}
@media (max-width: 767px) {
.worms--layouts.layout-1-1 > div {width: 100%;}
.worms--layouts.layout-2-1 > div:nth-child(1) {width: 100%;}
.worms--layouts.layout-2-1 > div:nth-child(2) {width: 100%;}
.worms--layouts.layout-1-2 > div:nth-child(1) {width: 100%;}
.worms--layouts.layout-1-2 > div:nth-child(2) {width: 100%;}

}


/* Tabs */
.worms--tabs {}
.worms--tabs-labels {
	display: flex;
	border-bottom: var(--px, 1px) solid var(--worms-color-border);
}
.worms--tabs-label {
	padding: .8rem 1.5rem;
	font-weight: 700;
	border-bottom: .15rem solid transparent;
	color: var(--worms-color-text-light);
	cursor: pointer;
}
.worms--tabs-label.active {
	border-color: var(--worms-color-text-light);
	color: var(--worms-color-text);
	cursor: default;
}
.worms--tabs-label[disabled] {
	border-color: transparent;
	color: var(--worms-color-border);
	pointer-events: none;
	cursor: not-allowed;
}
.worms--tabs-items {
	padding-top: 1rem;
}
.worms--tabs-item {}
.worms--tabs-item {
	display:none;
}
.worms--tabs-item.active {
	display: block;
}


/* Elements */
.worms--elements:not(:nth-child(1)) {
	padding-top: 1rem;
}



/* Text */
.worms--elements-text input {
	outline: none;
	width: 100%;
	border: var(--px, 1px) solid var(--worms-color-border);
	border-radius: 0;
	color: var(--worms-color-text);
	padding: .66rem 1rem;
	line-height: 1rem;
	font-size: 1rem;
	font-weight: 300;
}
.worms--elements-text textarea {
	outline: none;
	width: 100%;
	height: 10rem;
	border: var(--px, 1px) solid var(--worms-color-border);
	border-radius: 0;
	color: var(--worms-color-text);
	padding: .66rem 1rem;
	line-height: 1rem;
	font-size: 1rem;
	font-weight: 300;
}
.worms--elements-text-label {
	display: block;
	padding: .4rem 0;
}
.worms--elements-text.required .worms--elements-text-label {
	font-weight: 700;
}
.worms--elements-text.required .worms--elements-text-label:after {
	content: " *";
	color: var(--worms-color-fail);
	font-weight: 700;
}
.worms--elements-text-container {
	position: relative;
}
.worms--elements-text-container-glif {
	position: absolute;
	z-index: 1;
	width: 2rem;
	height: 100%;
	display: flex;
	align-items: center;
}
.worms--elements-text-container-glif img,
.worms--elements-text-container-glif svg {
	width: 100%;
}
.worms--elements-text-container-glif.left {}
.worms--elements-text-container-glif.right {
	right: 0;
}
.worms--elements-text-container-glif.left ~ input,
.worms--elements-text-container-glif.left ~ textarea {
	padding-left: 2.5rem;
}
.worms--elements-text-container-glif.right ~ input,
.worms--elements-text-container-glif.right ~ textarea {
	padding-right: 2.5rem;
}
.worms--elements-text-error {
	display: none;
	color: var(--worms-color-fail);
	font-size: .8rem;
}
.worms--elements-text.error .worms--elements-text-error {display: block;}
.worms--elements-text input:focus,
.worms--elements-text textarea:focus {
	border-color: var(--worms-color-text);
}
.worms--elements-text.centered input {
	text-align: center;
}
.worms--elements-text input::-moz-placeholder,
.worms--elements-text input:-moz-placeholder,
.worms--elements-text input:-ms-input-placeholder,
.worms--elements-text textarea::-moz-placeholder,
.worms--elements-text textarea:-moz-placeholder,
.worms--elements-text textarea:-ms-input-placeholder {
	text-overflow: ellipsis;
	color: var(--worms-color-text-light);
}


/* Select */
.worms--elements-select select {
	outline: none;
	display: block;
	width: 100%;
	cursor: pointer;
	padding: .66rem 1rem;
	outline: 0;
	border: var(--px, 1px) solid var(--worms-color-border);
	background-color: transparent;
	border-radius: 0;
	color: var(--worms-color-text);
	font-size: 1rem;
	font-weight: 300;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.worms--elements-select-indicator {
	position: absolute;
	top: .7rem;
	right: 1rem;
	width: .7rem ;
	height: .7rem;
	pointer-events: none;
	border-style: solid;
	border-width: 0 var(--px, 1px) var(--px, 1px) 0;
	transform: rotate(45deg);
	border-color: var(--color-e) transparent transparent transparent;
}
.worms--elements-select-label {
	display: block;
	padding: .4rem 0;
}
.worms--elements-select.required .worms--elements-select-label {
	font-weight: 700;
}
.worms--elements-select.required .worms--elements-select-label:after {
	content: " *";
	color: var(--worms-color-fail);
	font-weight: 700;
}
.worms--elements-select-container {
	position: relative;
}
.worms--elements-select-container-glif {
	position: absolute;
	z-index: 1;
	width: 2rem;
	height: 100%;
	display: flex;
	align-items: center;
}
.worms--elements-select-container-glif img,
.worms--elements-select-container-glif svg {
	width: 100%;
}
.worms--elements-select-container-glif ~ select {
	padding-left: 2.5rem;
}
.worms--elements-select-error {
	display: none;
	color: var(--worms-color-fail);
	font-size: .8rem;
}
.worms--elements-select.error .worms--elements-select-error {display: block;}
.worms--elements-select select:focus {
	border-color: var(--worms-color-text);
}



/* Selectables */
.worms--elements-selectable-label {
	display: block;
	padding: .4rem 0;
}
.worms--elements-selectable.required .worms--elements-selectable-label {
	font-weight: 700;
}
.worms--elements-selectable.required .worms--elements-selectable-label {
	font-weight: 700;
}
.worms--elements-selectable.required .worms--elements-selectable-label:after {
	content: " *";
	color: var(--worms-color-fail);
	font-weight: 700;
}
.worms--elements-selectable-container {
	position: relative;
	border: var(--px, 1px) solid var(--worms-color-border);
	padding: 1rem;
}
.worms--elements-selectable-error {
	display: none;
	color: var(--worms-color-fail);
	font-size: .8rem;
}
.worms--elements-selectable.error .worms--elements-selectable-error {display: block;}
.worms--elements-selectable-item {
	display: block;
	position: relative;
	color: var(--color-e);
	padding-left: 2rem;
	margin-bottom: .33rem;
	padding-top: .3rem;
	cursor: pointer;
	font-size: 1rem;
	line-height: 160%;
}
.worms--elements-selectable-item input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.worms--elements-selectable-item-indicator {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: 0;
	height: 1rem;
	width: 1rem;
	background: var(--worms-color-border);
	border: var(--px) solid var(--worms-color-text-light);
}
.worms--elements-selectable-item:hover input ~ .worms--elements-selectable-item-indicator {
	background: var(--worms-color-border);
}
.worms--elements-selectable-item.radio .worms--elements-selectable-item-indicator {
	border-radius: 50%;
}
.worms--elements-selectable-item input:checked~.worms--elements-selectable-item-indicator {
	background: var(--worms-color-border);
}
.worms--elements-selectable-item:hover input:not([disabled]):checked ~ .worms--elements-selectable-item-indicator {
	background: var(--worms-color-border);
}
.worms--elements-selectable-item input:disabled~.worms--elements-selectable-item-indicator {
	background: var(--color-d);
	opacity: 1;
	pointer-events: none;
}
.worms--elements-selectable-item-indicator:after {
	box-sizing: unset;
	content: '';
	position: absolute;
	display: none;
}
.worms--elements-selectable-item input:checked ~ .worms--elements-selectable-item-indicator:after {
	display: block;
}
.worms--elements-selectable-item.checkbox .worms--elements-selectable-item-indicator:after {
	left: 50%;
	top: 50%;
	width: .2rem;
	height: .5rem;
	border: solid var(--worms-color-text);
	border-width: 0 .13rem .13rem 0;
	transform: translate(-40%,-60%) rotate(45deg);
}
.worms--elements-selectable-item.checkbox:hover input~.worms--elements-selectable-item-indicator:after {
	border-color: var(--color-b);
}
.worms--elements-selectable-item.checkbox input:disabled~.worms--elements-selectable-item-indicator:after {
	border-color: var(--color-f);
}
.worms--elements-selectable-item input:checked~.worms--elements-selectable-item-indicator {
	background: var(--worms-color-border);
}
.worms--elements-selectable-item.radio .worms--elements-selectable-item-indicator:after {
	left: 50%;
	top: 50%;
	height: .35rem;
	width: .35rem;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--worms-color-text);
}
.worms--elements-selectable-item.radio:hover input ~ .worms--elements-selectable-item-indicator:after {
	background-color: var(--worms-color-text);
	border-color: transparent;
}
.worms--elements-selectable-item.radio input:disabled~.worms--elements-selectable-item-indicator:after {
	border-color: var(--color-e);
}



/* EditorJS */
.worms--elements-editorjs-label {
	display: block;
	padding: .4rem 0;
}
.worms--elements-editorjs.required .worms--elements-editorjs-label {
	font-weight: 700;
}
.worms--elements-editorjs.required .worms--elements-editorjs-label {
	font-weight: 700;
}
.worms--elements-editorjs.required .worms--elements-editorjs-label:after {
	content: " *";
	color: var(--worms-color-fail);
	font-weight: 700;
}
.worms--elements-editorjs-container {
	position: relative;
	border: var(--px, 1px) solid var(--worms-color-border);
	padding: 1rem;
}
.worms--elements-editorjs-error {
	display: none;
	color: var(--worms-color-fail);
	font-size: .8rem;
}
.worms--elements-editorjs.error .worms--elements-editorjs-error {display: block;}



/* Images */
.worms--elements-image-label {
	display: block;
	padding: .4rem 0;
}
.worms--elements-image.required .worms--elements-image-label {
	font-weight: 700;
}
.worms--elements-image.required .worms--elements-image-label {
	font-weight: 700;
}
.worms--elements-image.required .worms--elements-image-label:after {
	content: " *";
	color: var(--worms-color-fail);
	font-weight: 700;
}
.worms--elements-image-container {
	position: relative;
	border: var(--px, 1px) solid var(--worms-color-border);
	padding: 1rem;
}
.worms--elements-image-error {
	display: none;
	color: var(--worms-color-fail);
	font-size: .8rem;
}
.worms--elements-image.error .worms--elements-image-error {display: block;}
.worms--elements-image-list {
	display: flex;
	overflow: hidden;
	transform: translate(0, -2rem);
	width: 100%;
}
.worms--elements-image-items {
	transform: translate(0, 2rem);
	scroll-snap-align: start;
	display: flex;
	overflow: scroll hidden;
	scroll-snap-type: x mandatory;
	padding: 0 0 2rem 0;
	gap: 2rem;
	scroll-padding: 0;
	width: 100%;
}
.worms--elements-image-item {
	flex: 0 0 100%;
	display:flex;
	flex-direction: column;
	transition: all 0.1s linear;
	scroll-snap-align: start;
	border: var(--px, 1px) solid var(--worms-color-border);
}
.worms--elements-image-item > div:nth-child(1) {
	width: 100%;
}
.worms--elements-image-item > div:nth-child(1) img {
	width: 100%;
	object-fit: cover;
	aspect-ratio: 1 / 1;
}
.worms--elements-image-item > div:nth-child(2) {
	display: flex;
	gap: 2rem;
	justify-content: center;
	background-color: var(--worms-color-hover);
	padding: 1rem 0;
}
.worms--elements-image-item > div:nth-child(2) a {
	display: inline-block;
	text-decoration: none;
}
.worms--elements-image-item > div:nth-child(2) a svg {
	fill: var(--worms-color-text);
	height: 1.5rem;
}
.worms--elements-image-item > div:nth-child(2) a:hover svg {
	fill: var(--worms-color-text-light);
}
.worms--elements-image-nav {
	position: absolute;
	z-index: 1;
	height: 4rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	bottom: 0;
	left: 0;
	padding: 0 1rem;
}
.worms--elements-image-nav > div a,
.worms--elements-image-nav > div label {
	display: inline-block;
	text-decoration: none;
}
.worms--elements-image-nav > div a svg,
.worms--elements-image-nav > div label svg {
	fill: var(--worms-color-text);
	height: 1.5rem;
}
.worms--elements-image-nav > div a:hover svg,
.worms--elements-image-nav > div label:hover svg {
	fill: var(--worms-color-text-light);
}
.worms--elements-image-dropzone {
	display:none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	padding: 4rem;
	background-color: #ffffff;
}
.worms--elements-image-dropzone.show {
	display: block;
    transform: translate(0, 2rem);
    aspect-ratio: 1 / 1;
}
.worms--elements-image-items:empty {display: none;}
.worms--elements-image-items:empty ~ .worms--elements-image-dropzone {
	display: block;
	position: relative;
    transform: translate(0, 2rem);
    aspect-ratio: 1 / 1;
}
.worms--elements-image-dropzone > input {
	opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -10000px;
}
.worms--elements-image-dropzone > div {
	width: 100%;
	height: 100%;
	display: flex;
	gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	background-color: #fafafa;
    border: .15rem dashed #ddd;
    border-radius: .35rem;
}
.worms--elements-image-dropzone > div > svg {
    width: 15%;
    fill: #aaa;
}
.worms--elements-image-dropzone > div > div {
    color: #aaa;
}